/** =------=@note google fonts =------= **/
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Roboto:wght@400;500&display=swap");

/** =------=@note variables =------= **/
:root {
  --header--height: 3.5rem;

  /** =------=@note colors =------= **/
  --first-color: hsl(207, 65%, 65%);
  --title-color: hsl(207, 4%, 16%);
  --text-color: hsl(207, 4%, 28%);
  --text-color-light: hsl(207, 4%, 56%);
  --body-color: hsl(207, 4%, 99%);
  --container-color: hsl(207, 4%, 95%);

  /**@note change the first number **/
  /** blue: 207 purple: 250 pink: 356 teal: 174**/
  --gradient-color: linear-gradient(
    100deg,
    hsla(207, 48%, 72%, 0),
    hsla(207, 65%, 65%, 1)
  );

  /** =------=@note font and typography =------= **/
  /**.5rem = 8px --- 1rem = 16px **/
  --body-font: "Roboto", sans-serif;
  --title-font: "Lora", serif;
  --biggest-font-size: 1.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-fon-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  --tiny-font-size: 0.625rem;

  /** =------=@note font weight =------= **/
  --font-medium: 500;
  --font-semi-bold: 600;

  /** =------=@note z index =------= **/
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/** =------=@note responsive typography =------= **/
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-fon-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .873rem;
    --smaller-font-size: 0.813rem;
    --tiny-font-size: 0.688rem;
  }
}

/** =------=@note base =------= **/
*,
*:before,
*:after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%;
}
body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
h1,h2,h3 {
  color: var(--title-color);
  font-family: var(--title-font);
  font-weight: var(--font-medium);
}

/** =------=@note reusable classes =------= **/
.container {
  width: min(90%, 120rem);
  margin: 0 auto;
}
.grid {
  display: grid;
  gap: 1.5rem;
}
.section {
  padding-block: 2.5rem;
}
.section__border {
  border-bottom: 1px solid var(--title-color);
  padding-bottom: 3.5rem;
}
.section__title,
.section__subtitle {
  text-align: center;
}
.section__title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: .25rem;
}
.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  margin-bottom: 3rem;
}
.main {
  overflow: hidden; /*for animations*/
}







